<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/output.css}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
  <title>Home</title>
</head>
<body>
  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>

  <div class="bg-amber-600 p-10 text-black ">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nesciunt voluptates doloremque officia explicabo repellendus, debitis repellat esse dolore beatae quis praesentium odio. Atque, rerum quo. Consequatur assumenda consequuntur sapiente.
  </div>
  <div class="bg-red-500 text-white p-4">
  Tailwind is working ✅
</div>
<div class="bg-blue-500 text-white p-4 text-center">
  Blue background
</div>
<button class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded">
  Click me
</button>
</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
</html>